*{
    margin: 0;
    padding: 0;
}
body{
    background: #1a8080;
}
h1{
    text-align:center;
    letter-spacing:2.4px;
    font-size:35px;
    color:#b8fa09;
    text-shadow:3px 2px 3px #000000;
    font-family: 'Oswald', sans-serif;
    font-weight:600;
}
a{
    text-decoration: none;
    color:#170428;
    font-size:25px;
    margin:10px;
    font-family: 'Oswald', sans-serif;
    font-weight:500;
}
a:hover{
    color:#f9e4cc;
    transition:all 1s ease;
    transition-duration: 1s;
    opacity: 2;
}
h2{
    text-align:center;
    letter-spacing:2.4px;
    font-size:35px;
    color:#4c3c5b;
    text-shadow:2px 1px 2px #297070;
    margin:15px;
    font-family: 'Oswald', sans-serif;
    font-weight:500;
}
label{
    font-size: 20px;
    margin:0px 20px;
    color:#bbecec;
}
.button{
    font-size: 18px;
    font-family: 'Lobster', cursive;
    transition: 1s;
    width: 260px;
    height: 40px;
    color:#21352b;
    background: #b8fa09;
    border-radius:30%;
    margin:20px;
}

.button:hover{
    background: -webkit-linear-gradient(#aad721,#1a8080,#f9e4cc);
    border-radius:0%;
    color:black
}
form{
    margin:0 auto;
    width: 400px;
}
input, select, button{
    box-shadow: 0 0 15px 3px;
    margin:10px
}
.delEdit{
    color: #74cccc;
    font-size:18px;
}
.delEdit:hover{
    color: #170428;
}
.animaz{
    font-size: 45px;
    animation-name: animaz;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes animaz {
    0%{
        color:#b8fa09;
    }
    50%{
        color: #8ae8f4;
    }
    100%{
        color: #69e473;
        text-shadow:2px 1px 3px #f1f4ea;
    }
}
table{
    border:2px solid #f9e4cc;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}
th{
    border:2px solid #f9e4cc;
    padding: 10px;
}
td{
    border:2px solid #f9e4cc;
    padding: 10px;
}
section{
    height: 100vh;
    width: 100%;
    background: url(house.jpg);
    background-size: cover;
}
.water{
    height: 100vh;
    background: url(water.png);
    position: relative;
    z-index: 0;
    animation: water 0.3s linear infinite;
}
@keyframes water {
    0%{
        background-position: -10% -10%;
    }
    100%{
        background-position: 20% 100%;
    }
}
.info{
    position: absolute;
    z-index: 10;
    left: 700px;
    top: 30px;
}
.line{
    display: flex;
    justify-content: center;
}

.lihhhhne{
    display: flex;
    justify-content: center;
}
