<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    Приветствуем!!! <span sec:authentication="name">Username</span>
    <br>
    <span sec:authentication="principal.authorities">Roles</span>

    <a th:href="@{/delete}">Delete</a>
    <a th:href="@{/users}">Users</a>
    <a th:href="@{/new}">Users</a>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>